:root {
  font-family: var(--font-sans);
  line-height: var(--line-height-body);
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-surface);
}

#root {
  min-height: 100%;
}
